@charset "UTF-8";
*{
	margin: 0px;
	padding: 0px;
	
}

.jointype_container{
	display:flex;
	width:500px;
	justify-content:center;
	align-items:center;
	margin:0 auto;
	padding-top:150px;
	padding-bottom:180px;
}

.jointype_container>div:nth-child(1){
	background-color:rgb(152, 237, 141);
	
	height:200px;
	margin-right:5px;
	padding:30px 20px;
}

.jointype_container>div:nth-child(1):hover{
	background-color:rgb(106, 228, 88);
}

.jointype_container>div:nth-child(2){
	background-color:#AFD485;
	
	height:200px;
	margin-left:5px;
	padding:30px 20px;
}

.jointype_container>div:nth-child(2):hover{
	background-color:rgb(146, 197, 88);
}

.jointype_container>div>p{
	color:white;
	font-size:25px;
	font-weight:bold;
	white-space: nowrap; /* 줄 바꿈 방지 */
}

.jointype_container>div>a>i{
	width:50px;
	height:50px;
	font-size:50px;
	color:white;
	margin-top:60px;
	
	
}

