@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #000;
}
button{
	cursor: pointer;
	border: none;
	background-color: #fff0;
}
i{
	cursor: pointer;
}
a{
	text-decoration: none;
	font-size: 14px;
}

/* header.jsp */
header{
	max-width: 1200px;
	margin: 0 auto;
	padding: 10px 4% 10px;
}

header>.headerTop{ /* 헤더 상단 */
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.headerTop>a{
	width: 20%;
}
.headerTop>a>img{
	background: no-repeat center center;
	background-size: cover;
	width: 100%;
}
.headerTop>.search{
	border-bottom: solid 2px #7cb43f;
	padding: 5px;
	width: 30%;
}
.headerTop>.search>input{
	border: none;
	width: 90%;
	font-size: 15px;
	color: #555;
	padding-left: 5px; 
}
.headerTop>.search>input:focus{
	color: #555;
	outline: none;
}
.headerTop i{
	font-size: 20px;
}
.headerTop .userIcon{
	width: 22%;
	display: flex;
	justify-content: flex-end;
}
.headerTop .userIcon a{
	text-align: center;
}
.headerTop .userIcon a>i:hover{
	animation: tilt 1.5s ease-in-out infinite;
}
@keyframes tilt {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-10deg); }
    50% { transform: rotate(10deg); }
    75% { transform: rotate(-10deg); }
    100% { transform: rotate(0deg); }
}
.headerTop .userIcon a>span{
	font-size: 11px;
}
.headerTop>.userIcon>a:nth-child(2){
	margin: 0px 7%;
}
.headerTop>.userIcon>a:nth-child(4){
	margin-left:7%;
}

.navigation{ /* 네비게이션 */
	width: 100%;
	display: flex;
	margin-top: 20px;
	position: relative;
}
.navigation>i{
	font-size: 20px;
	margin-top: 5px;
}
.navigation>.hiddenBack{
	display: none;
	background-color: #fff;
	width: 130px;
	position: absolute;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 5;
}
.navigation>.hiddenBack>.hiddenNav{
	border: solid 3px #7cb43f55;
    padding: 10px;
	width: 100%;
	display: flex;
	flex-direction: column;
	z-index: 10;
}
.navigation>.hiddenBack>.hiddenNav>a{
	padding: 8%;
}
.navigation>.hiddenBack>.hiddenNav>a:hover{
	color: #7cb43f;
}
.navigation>.otherPage{
	width: 95%;
	display: flex;
	justify-content: space-evenly;
}
.navigation>.otherPage a{
	border-bottom: solid 1px transparent;
    transition: border-bottom 0.3s ease;
    padding: 0.5%;
    font-size: 16px;
}
.navigation>.otherPage a:hover{
	border-bottom: solid 1px #7cb43f;
	color: #7cb43f;
}


/* middle.jsp */
section{
	max-width: 1200px;
	margin: 0 auto;
	padding: 10px 4% 10px;
}
.product{
	padding: 20px 1%;
	margin: 0 auto;
}
.product h4, .box h4{
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    margin-left: 1%;
}
.priceGraph{ /* 농산물 가격 동향 */
	display: flex;
	flex-direction: column;
}
.priceGraph>.priceGraphTop{
	display: flex;
	justify-content: space-between;
}
.priceGraph>.priceGraphTop select{
	padding: 8px 5px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 10px;
    border-bottom: solid 2px #AFD485;
}
.priceGraph>.content{
    display: flex;
    gap: 20px;
    border: solid 2px #7cb43f;
    border-radius: 10px;
    padding: 2%;
    width: 100%;
}
.priceGraph>.content>div{
	flex: 2;
	display: flex;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* 부드럽고 은은한 그림자 */
}
.priceGraph>.content .infoSection{
	flex: 1;
	height: 350px;
    border-radius: 12px;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.priceGraph>.content .infoSection>.priceImage{
	width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
    background: no-repeat center center;
    background-size: cover;
}
.priceGraph>.content .infoSection>.title{
	font-size: 18px;
    margin-bottom: 8px;
    font-weight: bold;
}
.priceGraph>.content .infoSection>.date{
	font-size: 12px;
    color: #333;
    margin-bottom: 20px;
}
.priceGraph>.content .infoSection>.price{
	font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.priceGraph>.content .infoSection>.unit, .priceGraph>.content>.infoSection>.priceUnit{
	font-size: 14px;
    color: #333;
}
.priceGraph>.content .infoSection>.unit{
	margin-bottom: 10px;
}
.priceGraph>.content .comparisonSection{
	flex: 1;
	height: 350px;
	display: flex;
    flex-direction: column;
    border-radius: 12px;
    justify-content: center;
}
.priceGraph>.content .comparisonSection>.comparisonItem{
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.priceGraph>.content .comparisonSection>.comparisonItem>.label{
	font-size: 14px;
    color: #fff;
    background-color: #7cb43f;
    padding: 5px 10px;
    border-radius: 20px;
    margin-bottom: 10px;
}
.priceGraph>.content .comparisonSection>.comparisonItem>.date{
	font-size: 12px;
    color: #333;
    margin-bottom: 8px;
}
.priceGraph>.content>.comparisonSection>.comparisonItem>.price{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}
.priceGraph>.content .comparisonSection>.comparisonItem>.unit,
.priceGraph>.content .comparisonSection>.comparisonItem>.priceUnit{
	font-size: 12px;
    color: #333;
}
.priceGraph>.content .comparisonSection>.comparisonItem>.unit{
	margin-bottom: 5px;
}
.priceGraph>.content .graphSection{
	flex: 2;
	height: 350px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* 부드럽고 은은한 그림자 */
}
.bestProduct>.bestList{ /* Best 상품 */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.bestProduct>.bestList .bestItem{
    border-radius: 8px;
    font-size: 16px;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 280px;
    position: relative;
    cursor: pointer;
}
.bestProduct>.bestList .productRow{
	font-weight: bold;
	position: absolute;
	background-color: #777;
	padding: 5% 7%;
	color: #fff;
}
.bestProduct>.bestList .bestItem>div:first-child{
	background-color: #333;
}
.bestProduct .popNum{
	width: 100%;
	padding: 10px 10px 0px 10px;
}
.bestProduct .popNum>img{
	width: 100%;
	height: 180px;
}
.bestProduct .productContent{
	padding: 5px 10px 10px 10px;
	display: flex;
    flex-direction: column;
    width: 100%;
}
.productContent .title{
	font-size: 14px;
	font-weight: bold;
	white-space: nowrap; /* 줄 바꿈 방지 */
	overflow: hidden;
	text-overflow: ellipsis; /* ...으로 표시하기 */
}
.productContent .price{
	color: #aaa;
	font-size: 10px;
	white-space: nowrap; /* 줄 바꿈 방지 */
	align-self: flex-end;
}
.productContent .price>span{
	font-weight: bold;
	font-size: 14px;
	margin-left: 5px;
}
.productContent .company{
	font-size: 13px;
	color: #777;
}
.product>div{ /* 따끈따끈한 신상, 지역특산물 */
	display: flex;
	align-items: center;
}
.product .container{
	display: flex;
	overflow: hidden;
}
.product .container>.list{
    display: flex;
    gap: 30px;
}
.product .container>.list .item{
    width: 200px; /* 슬라이드 너비 설정 */
    height: 200px;
    border-radius: 8px;
    text-align: center;
    background: no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: hidden;
}
.product .container .areaList .areaItem{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}
.product .container .areaList .areaItem>div:first-child{
	background-color: #333;
}

.product .container>.list .item>div{
	color: #fff;
	background-color: #7779;
	padding: 2% 5%;
	white-space: nowrap; /* 줄 바꿈 방지 */
}
.product .container>.list .areaBox{
	width: 100%;
}
.product .container>.list .areaBox>div:first-child, .list .areaBox span{
	white-space: nowrap; /* 줄 바꿈 방지 */
	overflow: hidden;
	text-overflow: ellipsis; /* ...으로 표시하기 */
	font-weight: bold;
	margin-top : 5px;
}
.farmAndNotice{
	display: flex;
}
.farmAndNotice>.box{
	flex: 1;
	margin: 1%;
	padding: 1%;
	border: solid 3px #7cb43f;
	border-radius: 10px;
}
.farmAndNotice h4{
	margin-left: 2%;
	margin-top: 2%;
}
.farmAndNotice>.box>div>div{
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}
.farmAndNotice .storyItem>div .farmAndNotice .noticeItem>div{
	white-space: nowrap; /* 줄 바꿈 방지 */
	overflow: hidden;
	text-overflow: ellipsis; /* ...으로 표시하기 */
}
.farmAndNotice>.box>div{
	margin: 2%;
}
.farmAndNotice hr{
	border: 1px solid #AFD485aa;
	margin: 10px 0px;
}
.farmAndNotice hr:first-child{
	border: solid 1px #7cb43f;
}


/* footer.jsp */
footer{
	max-width: 1200px;
	margin: 0 auto;
	padding: 10px 4% 10px;
	display: flex;
    flex-direction: column;
}
footer>.footerTop{
	display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.footerTop>a:hover{
    color: #7cb43f;
}
.footerContent{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.footerContent>.footerLeft,
.footerContent>.footerMid,
.footerContent>.footerRight{
    flex: 1;
    font-size: 15px;
    color: #333;
    width: 30%;
}
.footerContent>.footerLeft>div,
.footerContent>.footerMid>div{
    margin-bottom: 5px;
}
.footerContent>.footerMid>div>i{
    margin-right: 8px;
    color: #4CAF50;
}
.footerContent>.footerMid>div>span{
	font-size: 20px;
}
.footerContent>.footerMid>.footerContactHours {
    margin-top: 5px;
    font-size: 13px;
    color: #777;
}
.footerContent>.footerRight{
    display: flex;
    flex-direction: column;
}
.footerContent>.footerRight>.logo {
	width:50%;
}
