*{
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #000;
}
.mypage-container {
    display: flex;
    padding: 30px 4%;
    max-width: 1200px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* 헤더 스타일 */
h1 {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    color: #333;
    margin-top: 30px;
}

h2 {
    margin-top: 10px;
}

/* 좌측 사이드바 스타일 */
.sidebar {
    width: 25%;
    background-color: #fafafa;
    padding: 15px;
    margin-right: 20px;
    border-right: 1px solid #ddd;
}

.sidebar h3 {
    font-size: 18px;
    margin-top: 10px;
    color: #444;
    font-weight: bold;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 5px;
    font-size: 14px;
    color: #555;
    border-bottom: 1px solid #eaeaea;
    cursor: pointer;
}

.sidebar ul li:hover {
    background-color: #e0e0e0;
}

.no-underline {
    text-decoration: none;
}

/* 메인 콘텐츠 스타일 */
.main-content {
    width: 75%;
    padding: 15px;
}

/* 사용자 정보 카드 */
.user-card {
    display: flex;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-info-left {
    flex: 1;
    padding: 20px;
    font-size: 14px;
    background-color: #AFD48555;
}

.user-info-left .user {
    font-size: 24px;
    font-weight: bold;
    margin-top: 5px;
}

.user-info-left p {
    margin: 5px 0;
}

.user-info-left .modify {
    display: inline-block;
    margin-top: 10px;
    font-size: 14px;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

/* 포인트 정보 */
.points-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 450px;  /* 오른쪽 너비 설정 */
    background-color: #AFD48520;
    color: #333;
}

.points-info > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}

.points-info > div h3 {
    margin: 0;
    font-size: 14px;
    color: #666;
}

.points-info > div p {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.points-info > div:last-child {
    border-bottom: none;
}

.arrow {
    font-size: 20px;
    color: #999;
    margin-left: 10px;
    text-decoration: none;
}

/* 섹션 스타일 */
.section {
    margin-bottom: 20px;
}

.section h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 14px;
    text-align: left;
}

th {
    background-color: #f8f8f8;
    color: #555;
}

td {
    color: #666;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.nothing {
    text-align: center;
    line-height: 200px;
    background-color: #eee;
}
