@charset "UTF-8";

/* viewDetail.jsp */

/* 상단 사진~구매 */
.updateDetail{
	display: flex;
	justify-content: flex-end;
	padding: 20px;
}
.updateDetail>a, .updateDetail>button{
	margin: 0px 1%;
	font-size: 14px;
}
.updateDetail>a:hover, .updateDetail>button:hover{
	color: #7cb43f;
}
.productAll{ 
    display: flex;
    width: 100%;
    overflow: hidden;
}
.productImage{
    flex: 1;
    margin: 20px;
    background-color: #333;
}
.productImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;  /* 이미지 비율을 유지하면서 부모 요소를 꽉 채움 */
}
.productInfo{
    flex: 1;
    padding: 20px;
}
.productInfo h2{
    font-size: 20px;
    color: #333;
}
.productInfo h2+hr{
	border: solid 1.5px #333;
	margin: 10px 0px;
}
.productPrice{
    font-size: 16px;
    color: #555;
    margin: 10px;
    display: flex;
    align-items: center;
}
.productPrice>div{
	width: 25%;
}
.productPrice>h2>span{
	color: #555;
	font-size: 14px;
	margin-left: 5px;
}
.productDetail{
	padding: 10px;
}
.productDetail>div{
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.productDetail p{
    font-size: 14px;
    color: #555;
}
.productDetail p:first-child{
	width: 25%;
}
.productDetail p:nth-child(2){
	width: 75%;
}
.productDetail select{
    padding: 5px;
    font-size: 13px;
    border: 1px solid #2d7a2d;
    border-radius: 4px;
    width: 75%;
}
.productDetail .productQty{
	padding: 5px;
	width: 72%;
	border: 1px solid #2d7a2d;
    border-radius: 4px;
}
.totalPrice{
    font-size: 16px;
    color: #333;
    margin: 10px 0px 10px 10px;
    font-weight: bold;
}
.totalPrice span{
    color: #2d7a2d;
    font-size: 20px;
    margin: 0px 10px;
}
.buttons{
    display: flex;
    gap: 10px;
}
.buttons .btn{
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ddd;
}
.buttons>.wishlist, .buttons>.cart{
    flex: 1;
}
.buttons>.buy{
    background-color: #AFD485;
    flex: 2;
}
.btn:hover{
    background-color: #e6f3e6;
    border-color: #AFD485;
}
.buttons .buy:hover{
	background-color: #2d7a2d;
    color: #fff;
}

/* 하단 */
.detailAll{ 
	display: flex;
	gap: 10px;
}
.detailList{
	width: 70%;
	margin: 0 auto;
}
.detailList .detailNav{
	display: flex;
	border-radius: 10px 10px 0 0;
	border: solid 1px #ccc;
	overflow: hidden;
	margin: 40px 0px 20px;
}
.detailList button{
	flex: 1;
	padding: 10px;
}
.detailNav>button:nth-child(2n){
	border-left: solid 1px #ccc;
	border-right: solid 1px #ccc;
}
.detailNav>.selected{
	background-color: #AFD485;
}
.detailList .imgList{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.imgList img{
	width: 100%;
}
.detailList .shopComment{
	display: flex;
	flex-direction: column;
}
.shopComment>h2{
	align-self: center;
	margin: 20px 0px;
}
.shopInfo>div>div>div{ /* 배송교환환불 */
	margin-top: 10px;
	font-weight: bold;
}
.shopInfo p{
	font-size: 14px;
	margin: 2px;
}
.shopComment>table{ /* 상품문의, 상품후기 테이블 */
	width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 14px;
}
table th, table td{
	border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
table th{
	border-top: 1px solid #777;
	background-color: #f8f8f8;
    font-weight: bold;
    color: #777;
}
table .qNumber, table .cNumber{
	width: 7%;
}
table .qWriter, table .qDate{
	width: 15%;
}
table .cWriter, table .cDate{
	width: 13%;
}
table .cStar{
	width: 15%;
}
table+div{ 
	display: flex;
	justify-content: space-between;
	align-items: center;
    margin-top: 20px;
}
.pagination { /* 페이지네이션 */
    display: flex;
    justify-content: center;
}
.pagination a {
    color: #333;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    margin: 0 4px;
    border-radius: 4px;
}
.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}
.pagination a:hover:not(.active) {
    background-color: #ddd;
}
.pagination+div a{
	border: 1px solid #ccc;
	padding: 8px 16px;
	border-radius: 4px;
}
.pagination+div a:nth-child(2) {
	background-color: #4CAF50;
	color: #fff;
}

/* 사이드바 */
.sideBar{
	width: 30%;
	position: sticky;
	top: 10%; /* 상단에 고정되도록 */
    height: 80vh; /* 전체 화면 높이에 맞게 */
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: none;
}
.sideBar .productInfo h2{
    font-size: 16px;
    color: #333;
}
.sideBar .productPrice{
    font-size: 11px;
    color: #555;
    margin: 0px;
    display: flex;
    align-items: center;
}
.sideBar .productPrice>div{
	width: 28%;
}
.sideBar .productPrice>h2>span{
	color: #555;
	font-size: 11px;
	margin-left: 5px;
}
.sideBar .productPrice+hr{
	margin: 5px 0px;
}
.sideBar .productDetail{
	padding: 0px;
}
.sideBar .productDetail>div{
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.sideBar .productDetail p{
    font-size: 11px;
    color: #555;
}
.sideBar .productDetail p:first-child{
	width: 28%;
}
.sideBar .productDetail p:nth-child(2){
	width: 72%;
}
.sideBar .productDetail select, .sideBar .productDetail .productQty{
    padding: 3px;
    font-size: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 72%;
}
.sideBar .productDetail .productQty{
	width: 68%;
}
.sideBar .btn{
    padding: 10px 20px;
    font-size: 11px;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin: 5px 0px;
}
.sideBar .btn:hover{
    background-color: #e6f3e6;
    border-color: #AFD485;
}
.sideBar .buy{
    background-color: #AFD485;
    width: 100%;
}
.sideBar .buy:hover{
	background-color: #2d7a2d;
    color: #fff;
}


/* writeDetail.jsp */
h3 {
    font-size: 24px;
    color: #333;
    margin: 0px 1% 20px ;
    border-bottom: 2px solid #AFD485;
    padding-bottom: 10px;
}
.productContainer {
    padding: 20px;
}
.productContainer div {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.productContainer .code, .productContainer .area, .productContainer .price{
	display:flex;
	flex-direction: row;
	gap: 2%;
}
.productContainer .price{
	justify-content: space-between;
	align-items: end;
}
.productContainer .price #pdtPrice{
	width: 90%;
}
.productContainer .code>div, .productContainer .area>div, .productContainer .price>div{
	flex: 1;
	margin: 0px;
}
.productContainer label {
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
}
.productContainer input[type="text"],
.productContainer input[type="file"],
.productContainer select {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}
.productContainer input[type="text"]:readonly {
    background-color: #f0f0f0;
}
.productContainer select {
    padding: 8px;
}
.productContainer .content #fileNames{
	display: flex;
	flex-direction: row;
	gap: 2%;
}
form .btnDiv {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 0 auto;
}
.btnDiv input[type="submit"],
.btnDiv input[type="reset"],
.btnDiv input[type="button"] {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btnDiv input[type="submit"] {
    background-color: #AFD485;
    color: white;
}
.btnDiv input[type="reset"] {
    background-color: #ddd;
    color: #333;
}
.btnDiv input[type="button"] {
    background-color: #f7f7f7;
    color: #333;
    border: 1px solid #ddd;
}
.btnDiv input:hover {
    opacity: 0.9;
}